html{
    font-family: Arial, Helvetica, sans-serif;
    background-image:linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url("https://www.elvetestates.co.uk/themes/elvet_estates/images/xproperties-hero.jpg.pagespeed.ic.S0NSaacl3w.jpg");
    background-size:cover;
    color: white;
}
header{
    width:50%;
    text-align:center;
    margin:auto;
    background:grey;
    padding-bottom: 20px;
   
    background:rgba(27, 27, 50, 0.8);
}

#details{
    width:50%;
    background:grey;
    padding-top:30px;
    margin:auto;
    display:flex;
    flex-direction:column;
    background:rgba(27, 27, 50, 0.8);
}

#initValue, #currentValue, #initMort, #currentMort{
    width: 80%;
    margin:auto;
    margin-bottom:20px;

}

#initValue-label, #currentValue-label, #initMort-label, #currentMort-label{
    width:77%;
    margin:auto;
    padding-bottom:10px;
    padding-top:10px;
    font-size: 14pt;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

#submit{
    margin:auto;
    margin-bottom: 15px;
    background: gold;
    color: black;
    width: 10%;
    font-size:14pt;
}